/Library
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/UserSettings
/Temp
/.vs
/Logs
/obj
/.idea/.idea.OnceUponATime/.idea/workspace.xml
/App.config
/Assembly-CSharp-firstpass.csproj
/mergeLi.sln
/mergeLi.sln.DotSettings.user
/playerData
/playerLastSessionData
Keys/localization.json
